snippet html5 "HTML5 Template"
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="$1" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="$2" />
		<link rel="stylesheet" href="$3" />
		<title>$4</title>
	</head>
	<body>
		<div id="app"></div>
	</body>
</html>
$0
endsnippet
