snippet fun "Function"
function $1($2): $3
{
}
$0
endsnippet

snippet pubfun "Public Function"
public function $1($2): $3
{
}
$0
endsnippet

snippet prifun "Private Function"
private function $1($2): $3
{
}
$0
endsnippet

snippet profun "Protected Function"
protected function $1($2): $3
{
}
$0
endsnippet

snippet int "Interface"
interface $1
{
}
$0
endsnippet

snippet enum "Enum"
abstract class $1Enum
{
	// public const var = "ENUM";
}
$0
endsnippet
