snippet datenow
`date +'%Y-%m-%d'`
endsnippet

snippet datetimenow
`date +'%Y-%m-%d %H:%M:%S'`
endsnippet

snippet datetimenowfile
`date +'%Y%m%d_%H%M%S'`
endsnippet

snippet randb32 "Random base64"
`openssl rand -base64 32`
endsnippet

snippet rand32 "Random hex"
`openssl rand -hex 32`
endsnippet
