snippet datenow i
`date +'%Y-%m-%d'`
endsnippet

snippet datetimenow i
`date +'%Y-%m-%d %H:%M:%S'`
endsnippet

snippet datetimenowfile i
`date +'%Y%m%d_%H%M%S'`
endsnippet

snippet randb32 "Random base64" i
`openssl rand -base64 32`
endsnippet

snippet rand32 "Random hex" i
`openssl rand -hex 32`
endsnippet
