snippet func "local function"
local function $1($2)
  $3
end
endsnippet

snippet funcm "module function"
local function M.$1($2)
  $3
end
endsnippet

snippet foreach "foreach loop"
for _,{$1:value} in pairs($2) do
  $3
end
endsnippet
