snippet pub "public function" b
/**
 * ${4:undocumented method}
 *
 * @return $3
 */
public function $1(${2:$param}): $3
{
    $0
}
endsnippet

snippet pri "private function" b
/**
 * ${4:undocumented method}
 *
 * @return $3
 */
private function $1(${2:$param}): $3
{
    $0
}
endsnippet

snippet pro "protected function" b
/**
 * ${4:undocumented method}
 *
 * @return $3
 */
protected function $1(${2:$param}): $3
{
    $0
}
endsnippet

