snippet sfc "Vue 3 SFC setup"
<template>
$0
</template>

<script setup>
$1
</script>
endsnippet

snippet sfct "Vue 3 SFC TS setup"
<template>
$0
</template>

<script setup lang="ts">
$1
</script>
endsnippet

snippet t "template"
<template>
$0
</template>
endsnippet
