snippet sfc "Vue 3 SFC setup"
<script setup>
$0
</script>

<template>
</template>
endsnippet

snippet sfct "Vue 3 SFC TS setup"
<script setup lang="ts">
$0
</script>

<template>
</template>
endsnippet
